<div class="results-block">
  <%= render "layouts/messages" %>  
</div>

<% if @stock %>
    <div class="card card-header col-sm-4">
      <div class="results-block">
        <strong>Symbol: </strong><%= @stock.ticker %>
      </div>
      <div class="results-block">
        <strong>Name: </strong><%= @stock.name %>
      </div>
      <div class="results-block">
        <strong>Price: </strong><%= @stock.last_price %>
      </div>
    </div>
<% end %>
